.task-section {
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 85vh;
}

.task-status-active {
  background-color: #34a4f0;
  padding: 15px 20px 15px 20px;
  border-radius: 3px;
}

.task-status-completed {
  background-color: #29c977;
  padding: 15px 20px 15px 20px;
  border-radius: 3px;
}

.task-status-active span {
  color: white;
}

.task-status-completed span {
  color: white;
}

.task-group {
  padding: 30px 0px 30px 0px;
}

.add-task {
  cursor: pointer;
  min-height: 102px;
  border: none;
}

.add-task-section {
  padding-top: calc(102px - 51px);
}

.add-task-title {
  color: #adc0cc;
}

.card-section {
  padding: 10px 15px;
}

.overlay{
  width:100%;
  height:100%;
  display:none;
  position:absolute;
  top:0px;
  left:0px;
}

.bt1 {
  background-color:orange;
  width:50px;
  height:50px;
}
.bt2 {
  background-color:green;
  width:50px;
  height:50px;
}