.task-section {
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 85vh;
}

.task-status-active {
  background-color: #34a4f0;
  padding: 15px 20px 15px 20px;
  margin-top: 20px;
  border-radius: 3px;
}

.task-status-completed {
  background-color: #29c977;
  padding: 15px 20px 15px 20px;
  margin-top: 20px;
  border-radius: 3px;
}

.task-status-text {
  font-weight: bold;
}

.task-status-count {
  padding-top: 10px;
}

.task-status-active span {
  color: white;
}

.task-status-completed span {
  color: white;
}

.task-group {
  padding: 30px 0px 30px 0px;
}

.add-task {
  cursor: pointer;
  min-height: 102px;
  border: none;
}

.add-task-section {
  padding-top: calc(102px - 51px);
}

.add-task-title {
  color: #adc0cc;
}

.show {
  display: inline-block
}
